name: build

on: [push]

jobs:

  build:
    runs-on: ubuntu-latest   
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Build GC
      run: make boehm-gc
    - name: Build
      run: make boot && make

  boot:
    runs-on: ubuntu-latest  
    needs: [ 'build' ] 
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Build GC
      run: make boehm-gc
    - name: Build
      run: make boot && make
    - name: Tests
      run: make boot-tests

  unit:
    runs-on: ubuntu-latest  
    needs: [ 'build' ] 
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Build GC
      run: make boehm-gc
    - name: Build
      run: make boot && make
    - name: Tests
      run: make compile-tests
